{% extends 'mypage_base.html' %}
{% block contents %}
<div class="row mt-5">
	<div class="col-12 text-center">
		<h1 class="display-1">마이페이지</h1>
	</div>
</div>
<div class="row mt-5">
	<div class="col-12">
		{% csrf_token %}
			<div class="alert alert-success" role="alert">
			<h4 class="alert-heading">{{ user_name }} 회원님!!</h4>
			<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
			<hr>
			<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
			</div>
			<a href="/users/logout" class="btn btn-danger">로그아웃</a>
	</div>
</div>
{% endblock %}